@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

body {
  display: block;
  background-color: black;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App__Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.App__Description {
  color: #4caf50;
  font-size: medium;
  margin: auto;
  margin-bottom: 20px;
  width: 400px;
  height: 50px;
}

.App__Header > h1 {
  color: #4caf50;
  font-family: "Style Script", cursive;
  font-size: 50px;
  margin-top: 45px;
}

.App__Body {
  margin-bottom: 100px;
}

.record {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.record > a {
  color: white;
  text-decoration: none;
}

#Download {
  background-color: cadetblue;
}

#stop {
  background-color: red;
}

#bars {
  height: 70px;
  left: 50%;
  margin: -30px 0 0 -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}

.bar {
  background: green;
  bottom: 1px;
  height: 10px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}

.mainGoogle__Button {
  color: white;
  background-color: #4caf50;
  border: 0;
  padding: 15px 32px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
